.container-fluid {
    padding: 20px;
    height: 10px;
    
  }
  
  h2 {
    color: #007bff;
    font-size: 20px;
  }
  
  .card {
    border-radius: 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.1);
    color:white;
  }
  
  .card img {
    max-height: 10rem;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  /* subject-list.component.css */
.viewed {
  background-color: lightgreen; /* Color para viewed */
}

.not-viewed {
  background-color: lightcoral; /* Color para not viewed */
}
